# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Node.js / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Database & Uploads
*.sqlite3
*.db
uploads/
*.pdf
*.docx

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

dontdelete.json
gcs_credentials.json

chroma_data/
*.log
